<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Instructor Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="webjars/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </link>
    <script src="webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<form action="#" th:action="@{/login}" th:object="${login}" method="post" class="form-inline">
    <div class="form-group">
        <div class="col-xs-3">
            <label>Login ID</label>
            <input type="text" class="form-control" th:field="*{username}"/>
            <label> Password</label>
            <input type="password" class="form-control" th:field="*{password}"/>
            <input type="submit" value="Login" class="btn btn-primary btn-block"/>
        </div>
    </div>
</form>
</body>
</html>